body {
    font: "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.container {
    width:70%;
}

.indicator, .indicator ul {
    padding-left:0;
}

.note:hover {
    cursor:pointer;
    text-decoration: line-through;
}

.list-group-item {
    border-left: 0;
    border-right: 0;
    background-color:transparent;
}

.list-group-item:first-child, .list-group-item:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.notes {
    background-color: #f3f3f3;
    font-size: 0.9em;
    border-radius: 5px;
    padding:1em 1.5em 1em 1.5em;
}

.notes textarea {
    font-size: 1em;
}

ul {
    list-style-type: none;
}

ul.list {
    list-style-type: disc;
}