body {
    font: "Century Gothic", Futura, sans-serif;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.container {
    width: 70%;
}

.indicator, .indicator ul {
    padding-left: 0;
}

.note:hover {
    cursor: pointer;
    text-decoration: line-through;
}

.list-group-item {
    border-left: 0;
    border-right: 0;
    background-color: transparent;
}

.list-group-item:first-child, .list-group-item:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.notes {
    background-color: #f3f3f3;
    font-size: 0.9em;
    border-radius: 5px;
    padding: 1em 1.5em 1em 1.5em;
}

.notes textarea {
    font-size: 1em;
}

ul {
    list-style-type: none;
}

ul.summary {
    padding-left: 0;
}

ul.summary li {
    margin: 1em 0 1em 0;
}

.summary a {
    color: inherit;
    cursor: pointer;
}

.hideMe {
    opacity: 0;
}

.grade, .grade0, .grade1, .grade2, .grade3 {
    padding: 0.5em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}

.grade {
    background: #e0e0e0;
}

.grade0:hover, input:checked + label.grade0, li.grade0 {
    background: #f88f2a;
}

.grade1:hover, input:checked + label.grade1, li.grade1 {
    background: #fde13c;
}

.grade2:hover, input:checked + label.grade2, li.grade2 {
    background: #9bd42a;
}

.grade3:hover, input:checked + label.grade3, li.grade3 {
    background: #32c64c;
}
